.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem 2rem;
}

.header {
  color: #1D4ED8
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-header {
  padding: 0.4rem 0 0.8rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.form-title {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1D4ED8;
}

.form-item label {
  font-weight: 600;
  margin-bottom: 4px;
}

.p-inputtext,
.p-dropdown,
.p-inputnumber {
  width: 100% !important;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .form-actions {
    grid-column: span 1;
  }
}

:host ::ng-deep .p-dropdown{
  width: 100% !important;
}
:host ::ng-deep .p-inputnumber{
  width: 100% !important;
}